.tablistContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.tabList {
  display: flex;
  list-style: none;
  flex-direction: row;
  max-width: fit-content;
  width: 100%;
}

.tabList > li > button {
  transition: background-color 0.2s;
  color: black;
  border: 0;
  background-color: #9b80617a;
  height: 50px;
  width: max-content;
  padding: 0px 20px 0px 20px;
}
.active {
  position: relative;
}

.active::after {
  content: "";
  width: 0px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #a75a03;
  position: absolute;
  animation: slideRight 0.5s forwards; /* Animasyon ekleniyor */
}

.tabButton:hover {
  background-color: #9b8061e0;
}

.scrollContainer {
  width: 100%;
  max-width: 1150px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show {
  animation-name: showAnimate;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-direction: alternate;
}

@keyframes showAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
